@model Users

<hr/>
<h1 class="text-center">Login</h1>
<hr/>
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-10 col-md-8 col-lg-6">
            <div asp-validation-summaary="All" class="text-danger"></div>
            <form asp-action="Login" method="post">
                <div class="form-group mb-2">
                    <label asp-for="UserName" class="form-label">Username</label>
                    <input asp-for="UserName" class="form-control" placeholder="Enter Username">
                </div>
                <div class="form-group my-2">
                    <label asp-for="Password" class="form-label">Password</label>
                    <input asp-for="Password" class="form-control" placeholder="Enter Password">
                </div>
                <div class="form-group my-3">
                    <input type="submit" class="btn btn-secondary" value="Login">
                </div>
            </form>
        </div>
    </div>
</div>